p {
    color: darkgreen;
}

p{
	text-align: center;
}

p {
	border-style: solid;
	border-color: darkkhaki;
	border-left-width:20px;
	border-right-width:20px;
}

h1 {
	color: MISTYROSE ;
	background-color: DARKSLATEGRAY
}

h1{
	text-align: center;
}

body {
	font-family: Times New Roman
}

ul {list-style-type: none; 
	margin: 5;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}

li a {
	display: block;
	color: #000;
	padding: 4px 11px;
	text-decoration: none;
}

li a:hover{
	background-color: #555;
	color: white;
}