p {
    color: #69A297;
}

p{
	text-align: center;
}

p {
	border-style: solid;
	border-color: #69A297;
	border-left-width:3px;
	border-right-width:3px;
}

h1 {
	color: #BEE6CB ;
	background-color: #69A297
}

h1{
	text-align: center;
}

body {
	font-family: Times New Roman
}

ul {list-style-type: none; 
	margin: 5;
	padding: 0;
	width: 200px;
	background-color: #68D89B;
}

li a {
	display: block;
	color: #000;
	padding: 4px 11px;
	text-decoration: none;
}

li a:hover{
	background-color: #BCFFDE;
	color: BLACK;
}


body {
    background-color: #BCFFDE;
}